body {
    background-color: rgb(235, 254, 255);
}

.taskHeading {
    font-weight: 800;
    padding: 20px;
    border-bottom-style: dashed;
    border-top-style: dashed;
    color: black;
    text-align: center;
}

