<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Character set -->
        <meta charset="UTF-8">
        <!-- Linking main.css -->
        <link href="main.css" rel = "stylesheet" type = "text/css"/>
        <!-- Linking js file -->
        <script src="./script.js"></script>
        <!-- Vue Import-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
        <!-- Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            body {
                background-color: rgb(235, 254, 255);
            }

            .inputBox {
                background-color: rgb(255, 255, 255);
                width: 200px;
                height: 20px;
            }

            .prompts {
                font-size: larger;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            .taskHeading {
                font-weight: 800;
                padding: 20px;
                border-bottom-style: dashed;
                border-top-style: dashed;
                color: black;
                text-align: center;
            }

            #bread {
                text-align: left;
            }

            #vforContent{
                font-size: larger;
            }

            #studentButton{
                padding: 15px;
                border-color: green;
                background-color: rgb(169, 255, 226);
                font-size: larger;
                font-weight: 600;
            }
        </style>

        <!-- Title of webpage -->
        <title>Week 6 Practical</title>
    </head>

    <body>
        <!-- Task 1 div -->
        <div id="task1">
            <h1 class="taskHeading"> {{ heading }} </h1>
            <h2><u>Create Account</u></h2>
            <p class="prompts">Username</p>
            <input class="inputBox" v-model="username" type="text" placeholder="Please enter your username" />
            <p class="prompts">Password</p>
            <input class="inputBox" v-model="password" type="text" placeholder="Please enter a new password" />
            
            <br> <br> <br>
            <p><b>Proof of v-model concept:</b></p>
            <p>Username: {{ username }}</p>
            <p>Password: {{ password }}</p>
        </div> 

        <!-- Task 2 div -->
        <div id="task2">
            <h1 class="taskHeading"> {{ heading }} </h1>

            <h2>Do you know the colours of the rainbow?</h2>
            <input type="checkbox" v-on:click="redCheck = !redCheck" id="Red" value="Red" v-model="checkedItems"/>
            <label for="bread">Red</label>
            <br>
            <input type="checkbox" v-on:click="orangeCheck = !orangeCheck" id="Orange" value="Orange" v-model="checkedItems"/>
            <label for="bread">Orange</label>
            <br>
            <input type="checkbox" v-on:click="yellowCheck = !yellowCheck" id="Yellow" value="Yellow" v-model="checkedItems"/>
            <label for="bread">Yellow</label>
            <br>
            <input type="checkbox" v-on:click="greenCheck = !greenCheck" id="Green" value="Green" v-model="checkedItems"/>
            <label for="bread">Green</label>
            <br>
            <input type="checkbox" v-on:click="blueCheck = !blueCheck" id="Blue" value="Blue" v-model="checkedItems"/>
            <label for="bread">Blue</label>
            <br>
            <input type="checkbox" v-on:click="indigoCheck = !indigoCheck" id="Indigo" value="Indigo" v-model="checkedItems"/>
            <label for="bread">Indigo</label>
            <br>
            <input type="checkbox" v-on:click="violetCheck = !violetCheck" id="Violet" value="Violet" v-model="checkedItems"/>
            <label for="bread">Violet</label>

            <br> <br>
            <span v-for="checked">Your colours: {{ checkedItems }} </span>
            <h3 v-if="redCheck && orangeCheck && yellowCheck && greenCheck && blueCheck && indigoCheck && violetCheck">{{ correct }}</h3>
            <h3 v-else>{{ incorrect }}</h3>
        </div>

        <!-- Task 3 div -->
        <div id="task3">
            <h1 class="taskHeading"> {{ heading }} </h1>

            <h2>When were you born?</h2>
            <select v-model="selectedDay">
                <option value="" disabled>Select a day</option>
                <option v-for="n in 31">{{ n }}</option>
            </select>
        
            <br><br>
            <select v-model="selectedMonth">
                <option value="" disabled>Select a month</option>
                <option v-for="month in months">{{ month.month }}</option>
            </select>

            <br><br>
            <select v-model="selectedYear">
                <option value="" disabled>Select a year</option>
                <option v-for="year in years">{{ year.year }}</option>
            </select>
            <br><br>

            <span><h3> Selected: {{ selectedDay }} {{ selectedMonth }} {{ selectedYear }} </h3></span>
        </div> 
    </body>
</html>

<script>
    //task 1 app
    let task1 = new Vue({
        el: '#task1',
        data: {     
            heading: 'Week 6 Practical: Task 1',
            username: '',
            password: ''
        },
    });

    //task 2 app
    let task2 = new Vue({
        el: '#task2',
        data: {     
            heading: 'Week 6 Practical: Task 2',
            checkedItems: [],
            redCheck: false,
            orangeeCheck: false,
            yellowCheck: false,
            greenCheck: false,
            blueCheck: false,
            indigoCheck: false,
            violetCheck: false,
            correct: 'These are all of the colours of the rainbow!',
            incorrect: 'These colours are not quite right.'
        },
    });

    //task 3 app
    let task3 = new Vue({
        el: '#task3',
        data: {     
            heading: 'Week 6 Practical: Task 3',
            selectedMonth: '',
            selectedDay: '',
            selectedYear: '',
            months: [
                {id: 1, month: 'January'},
                {id: 2, month: 'February'},
                {id: 3, month: 'March'},
                {id: 4, month: 'April'},
                {id: 5, month: 'May'},
                {id: 6, month: 'June'},
                {id: 7, month: 'July'},
                {id: 8, month: 'August'},
                {id: 9, month: 'September'},
                {id: 10, month: 'October'},
                {id: 11, month: 'November'},
                {id: 12, month: 'December'},
            ],
            years: [
                {year: '1950'},
                {year: '1951'},
                {year: '1952'},
                {year: '1953'},
                {year: '1954'},
                {year: '1955'},
                {year: '1956'},
                {year: '1957'},
                {year: '1958'},
                {year: '1959'},
                {year: '1961'},
                {year: '1962'},
                {year: '1963'},
                {year: '1964'},
                {year: '1965'},
                {year: '1966'},
                {year: '1967'},
                {year: '1968'},
                {year: '1969'},
                {year: '1970'},
                {year: '1971'},
                {year: '1972'},
                {year: '1973'},
                {year: '1974'},
                {year: '1975'},
                {year: '1976'},
                {year: '1977'},
                {year: '1978'},
                {year: '1979'},
                {year: '1980'},
                {year: '1981'},
                {year: '1982'},
                {year: '1983'},
                {year: '1984'},
                {year: '1985'},
                {year: '1986'},
                {year: '1987'},
                {year: '1988'},
                {year: '1989'},
                {year: '1991'},
                {year: '1992'},
                {year: '1993'},
                {year: '1994'},
                {year: '1995'},
                {year: '1996'},
                {year: '1999'},
                {year: '1998'},
                {year: '1999'},
                {year: '2001'},
                {year: '2002'},
                {year: '2003'},
                {year: '2004'},
                {year: '2005'},
                {year: '2006'},
                {year: '2007'},
                {year: '2008'},
                {year: '2009'},
                {year: '2010'},
            ],
        },
    });
</script>
