/* Header */
.header {
    background-color:rgb(17, 153, 168);
    color: #ffffff;
    padding: 15px;
    font-size: 120%;
    float: top;
    text-align: center;
}

/* Background Colour */
@media screen {
    body {background-color: rgb(246, 254, 255)};
}


/* Boys Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #boys {
    float: left;
    width: 50%;
    color: rgb(0, 171, 233);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-right: 2px solid rgb(17, 153, 168);
    border-top: 4px solid rgb(17, 153, 168);
    }
}

/* Girls Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #girls {
    float: right;
    width: 50%;
    color: rgb(228, 124, 142);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-left: 2px solid rgb(17, 153, 168);
    border-top: 4px solid rgb(17, 153, 168);
    }
}

/* Paragraph 1 Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #paragraph1 {
    float: left;
    width: 100%;
    font-weight: bolder;
    font-size: larger;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    }
}

/* Boys Over 1300px */
@media screen and (min-width: 1300px) {
    #boys {
    float: left;
    width: 50%;
    color: rgb(0, 171, 233);
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    border-right: 2px solid rgb(17, 153, 168);
    border-top: 4px solid rgb(17, 153, 168);
    }
}

/* Girls Over 1300px */
@media screen and (min-width: 1300px) {
    #girls {
    float: right;
    width: 50%;
    color: rgb(228, 124, 142);
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    border-left: 2px solid rgb(17, 153, 168);
    border-top: 4px solid rgb(17, 153, 168);
    }
}

/* Paragraph 1 Over 1300px */
@media screen and (min-width: 1300px) {
    #paragraph1 {
    float: leftt;
    width: 100%;
    font-weight: bolder;
    font-size: x-large;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    }
}

/* Boys Under 480px */
@media screen and (max-width: 480px) {
    #boys {
    float: left;
    width: 100%;
    color: rgb(0, 171, 233);
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    }
}

/* Girls Under 480px */
@media screen and (max-width: 480px) {
    #girls {
    float: left;
    width: 100%;
    color: rgb(228, 124, 142);
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    border-top: 4px solid rgb(17, 153, 168);
    }
}

/* Paragraph 1 Under 480px */
@media screen and (max-width: 480px) {
    #paragraph1 {
    float: left;
    width: 100%;
    font-weight: bolder;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    }
}

/* Boy Names Heading Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #boyNames {
        color: rgb(0, 171, 233);
        text-align: center;
        
    }
}

/* Girl Names Heading Between 480px and 1300px*/
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #girlNames {
        color: rgb(228, 124, 142);
        text-align: center;
    }
}

/* Boy Names Heading Over 1200px */
@media screen and (min-width: 1300px) {
    #boyNames {
        color: rgb(0, 171, 233);
        text-align: center;

    }
}

/* Girl Names Heading Over 1300px */
@media screen and (min-width: 1300px) {
    #girlNames {
        color: rgb(228, 124, 142);
        text-align: center;
    }
}

/* Boy Names Heading Under 480px */
@media screen and (max-width: 480px) {
    #boyNames {
    float: left;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 171, 233);
    text-align: center;
    }
}

/* Girl Names Heading Under 480px */
@media screen and (max-width:480px) {
    #girlNames {
    float: left;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    color: rgb(228, 124, 142);
    text-align: center;
    }
}




